*{
    margin: 0;
    padding: 0;
}
/* body{
    background-image: url(./images/2I6A6270~3.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
} */
.logo{
    font-weight: 600;
    cursor: pointer;
    color: rgb(235, 235, 23);
    font-family: 'Roboto', sans-serif;
    
}
.header{
    padding: 40px;
}
.navbar{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display: flex;
    margin-top: -30px;
    justify-content: flex-end;

}
li{
    list-style: none;
    display: inline;
    padding: 40px;
}
a{
    text-decoration: none;
    color: white;
}

.intro{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 170px;
}
#name{
    font-family: 'Lato';
    color: white;
    font-weight: 800;
    font-size: 120px;
    letter-spacing: 7px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#work{
    font-family: 'Lato';
    font-weight: 800;
    font-size: 60px;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

span{
    color: rgb(235, 235, 23);
}

